@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* For General Styling */



body {
  font-family: 'Poppins', sans-serif;
}

/* DANGER */
.__my-btn-danger{
  background-color: #ffbebe;
  color: #ff3c3c;
  font-weight: 500;
  border-radius: .6rem;
  padding: .4rem .8rem;
  font-size: 1.0rem;
}
.__my-btn-danger:hover{
  background-color: #ff3c3c;
  color: #ffffff;
}

/* PRIMARY */
.__my-btn-primary{
  background-color: #beddff;
  color: #188cff;
  font-weight: 500;
  border-radius: .4rem;
  padding: .4rem .8rem;
  font-size: 1rem;
}
.__my-btn-primary:hover{
  background-color: #3699FF;
  color: #ffffff;
}

/* SECONDARY */
.__my-btn-secondary{
  background-color: #0000003f;
  color: #202020;
  font-weight: 500;
  border-radius: .4rem;
  padding: .4rem .8rem;
  font-size: 1rem;
}
.__my-btn-secondary:hover{
  background-color: #202020;
  color: #d1d1d1ea;
}
.__my-btn-outline-primary{
  background-color: transparent;
  color: #188cff;
  border: 1px solid #188cff;
  font-weight: 500;
  border-radius: .4rem;
  padding: .4rem .8rem;
  font-size: 1rem;
}
.__my-btn-outline-primary:hover{
background-color: #3699FF;
  color: #ffffff;
}

.__my-btn-outline-light{
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
  border-radius: .4rem;
  padding: .4rem .8rem;
  font-size: 1rem;
}
.__my-btn-outline-light:hover{
background-color: #fff;
  color: #000000;
}

